.*
!.gitignore
/gnucash
/py3bindings
**/results/
**/output/
**/in/Monarch
**/out/
**/code/
**/logs/
**/Downloads
**/copy*/
**/bin/
*.py[cdo]
*.out
*.log
*.o
*.so
*.obj
*.bin
*.exe
*.x
*.term
*.json
json*
venv*
# find <dir/>* -type l >> .gitignore

